doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block header
            include parts/header
        block menu
            include parts/menu
        block content
        block footer
            include parts/footer