doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        //link(rel='stylesheet', href='/css/app.css')
        block content
            div(id='app')
    script(src='/app.js')