menu
    ul(class='main-menu')
        li(class=(currentUrl === '' ? 'active' : ''))
            a(href='/') Home
        li(class=(currentUrl === '/contact-us' ? 'active' : ''))
            a(href='/contact-us') Contact us
        li(class=(currentUrl === '/about-us' ? 'active' : ''))
            a(href='/about-us') About us