// App.vue

<template>
    <div class="container">
        <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link to="/back" class="nav-link">Home</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/back/users" class="nav-link">Users</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/back/departments" class="nav-link">Departments</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/back/positions" class="nav-link">Positions</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/back/skills" class="nav-link">Skills</router-link>
                    </li>
                </ul>
            </div>
        </nav>
        <br/>
        <transition name="fade">
            <router-view></router-view>
        </transition>
    </div>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>

<script>

    export default {}
</script>