<template>
    <div>
        <h2>Login</h2>
        <form v-on:submit="login">
            <input type="text" name="email" v-model="email"/><br>
            <input type="password" name="password" v-model="password"/><br>
            <input type="submit" value="Login"/>
            <ul id="example-1">
                <li v-for="(item, index) in errors">
                    {{ index }} - {{ item }}
                </li>
            </ul>
        </form>
    </div>
</template>

<script>
    import axios from "axios"

    export default {
        name: "Login",
        data: function () {
            return {
                email: '',
                password: '',
                errors: []
            }
        },
        methods: {
            login: function (e) {
                e.preventDefault();
                console.log(e);
                let app = this;
                console.log(app.email);
                axios.post("/api/login", {
                    user: {
                        email: app.email,
                        password: app.password
                    },
                })
                    .then((response) => {
                        app.errors = response.data.errors;
                        console.log(response);
                    })
                    .catch((errors) => {
                        console.log(errors);
                    });
            }
        }
    }
</script>
<style>
    .body {
        background-color: darkseagreen;
    }
</style>