<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="col-lg-12"><h1>{{title}}</h1></div>
                <div class="col-lg-12">
                    <input v-model="inputValue1"
                           type="text"
                           class="form-control"
                           :placeholder=inputValue1Title>
                    <button @click="saveItem" class="btn btn-outline-primary" :href="createRoute">Create</button>
                </div>
                <div class="col-lg-12">
                    <div class="alert alert-dismissible alert-primary" v-show="message !== ''">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{message}}</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in tableItems">
                        <td>{{item._id}}</td>
                        <td>{{item.name}}</td>
                        <td>
                            <button @click="editItem(item._id)" class="btn btn-outline-primary">Edit</button>
                            <button @click="deleteItem(item._id)" class="btn btn-outline-primary">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios"

    export default {
        name: "Skills",
        data: function () {
            return {
                title: "Skills",
                tableItems: [],
                createRoute: "/skills/create",
                message: "",
                inputValue1: "",
                inputValue1Title: "Name",
                filter1Value: ""
            }
        },
        mounted: function () {
            let app = this;
            app.get();
        },
        methods: {
            get: function () {
                let app = this;
                axios.get("/api/skills")
                    .then((response) => {
                        if (!response.data) {
                            alert(response);
                        }
                        app.tableItems = response.data;
                    })
                    .catch((errors) => {
                        alert(errors);
                    });
            },
            saveItem: function () {
                let app = this;
                axios.post("/api/skill/",
                    {
                        name: app.inputValue1
                    })
                    .then((response) => {
                        if (response.data.message) {
                            app.message = response.data.message;
                            app.get();
                        }
                    })
                    .catch((errors) => {
                        alert(errors);
                    });
            },
            editItem: function (id) {
                console.log(id);
            },
            deleteItem: function (id) {
                let app = this;
                axios.delete("/api/skill/" + id)
                    .then((response) => {
                        if (response.data.message) {
                            app.message = response.data.message;
                            app.get();
                        }
                    })
                    .catch((errors) => {
                        alert(errors);
                    });
            }
        }
    }
</script>

<style scoped>

</style>