<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="col-lg-12"><h1>{{title}}</h1></div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <input v-model="inputValue1"
                               type="text"
                               class="form-control"
                               :placeholder=inputValue1Title>
                    </div>
                    <div class="form-group">
                        <input v-model="inputValue2"
                               type="text"
                               class="form-control"
                               :placeholder=inputValue2Title>
                    </div>
                    <div class="form-group">
                        <input v-model="inputValue3"
                               type="text"
                               class="form-control"
                               :placeholder=inputValue3Title>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1">Department</label>
                        <select v-model="inputValue4" class="form-control" id="exampleSelect1">
                            <option v-for="(item) in departments" :value="item._id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect2">Position</label>
                        <select v-model="inputValue5" class="form-control" id="exampleSelect2">
                            <option v-for="(item) in positions" :value="item._id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect3">Skills</label>
                        <select v-model="inputValue6" multiple="" class="form-control" id="exampleSelect3">
                            <option v-for="(item) in skills" :value="item._id">{{item.name}}</option>
                        </select>
                    </div>
                    <button @click="saveItem" class="btn btn-outline-primary" :href="createRoute">Create</button>
                </div>
                <div class="col-lg-12">
                    <div class="alert alert-dismissible alert-primary" v-if="message !== ''">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{message}}</strong>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="alert alert-dismissible alert-danger" v-if="messageErrorNotEmpty">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p v-for="(item) in messageError">{{item.message}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in tableItems">
                        <td>{{item._id}}</td>
                        <td>{{item.first_name}}</td>
                        <td>{{item.last_name}}</td>
                        <td>{{item.email}}</td>
                        <td>
                            <button @click="editItem(item._id)" class="btn btn-outline-primary">Edit</button>
                            <button @click="deleteItem(item._id)" class="btn btn-outline-primary">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios"

    export default {
        name: "Users",
        data: function () {
            return {
                title: "Users",
                tableItems: [],
                createRoute: "/user/create",
                message: "",
                messageError: {},
                messageErrorNotEmpty: false,
                inputValue1: "",
                inputValue1Title: "First name",
                inputValue2: "",
                inputValue2Title: "Last name",
                inputValue3: "",
                inputValue3Title: "Email",
                inputValue4: [],
                inputValue5: [],
                inputValue6: [],
                filter1Value: [],
                positions: [],
                skills: [],
                departments: []
            }
        },
        mounted: function () {
            let app = this;
            app.get();
            app.getDepartments();
            app.getPositions();
            app.getSkills();
        },
        methods: {
            get: function () {
                let app = this;
                axios.get("/api/users")
                    .then((response) => {
                        if (!response.data) {
                            alert(response);
                        }
                        app.tableItems = response.data;
                    })
                    .catch((errors) => {
                        alert(errors);
                    });
            },
            saveItem: function () {
                let app = this;
                axios.post("/api/user/",
                    {
                        first_name: app.inputValue1,
                        last_name: app.inputValue2,
                        email: app.inputValue3,
                        user_department: app.inputValue4,
                        user_position: app.inputValue5,
                        last_skills: app.inputValue6
                    })
                    .then((response) => {
                        console.log(response);
                        if (response.data.message !== '') {
                            app.messageError = [];
                            app.messageErrorNotEmpty = false;
                            app.message = response.data.message;
                            app.inputValue1 = "";
                            app.inputValue2 = "";
                            app.inputValue3 = "";
                            app.inputValue4 = [];
                            app.inputValue5 = [];
                            app.inputValue6 = [];
                            app.get();
                            app.getDepartments();
                            app.getPositions();
                            app.getSkills();
                        }
                        if (response.data.errors && Object.keys(response.data.errors).length > 0) {
                            app.message = "";
                            app.messageErrorNotEmpty = true;
                            app.messageError = response.data.errors;
                            app.get();
                        }
                    })
                    .catch((errors) => {
                        alert(errors);
                    });
            },
            editItem: function (id) {
                console.log(id);
            },
            deleteItem: function (id) {
                let app = this;
                axios.delete("/api/user/" + id)
                    .then((response) => {
                        if (response.data.message) {
                            app.messageError = [];
                            app.message = [response.data.message];
                            app.get();
                        }
                    })
                    .catch((errors) => {
                        alert(errors);
                    });
            },
            getPositions: function () {
                let app = this;
                axios.get("/api/positions")
                    .then((response) => {
                        if (!response.data) {
                            alert(response);
                        }
                        app.positions = response.data;
                    })
                    .catch((errors) => {
                        alert(errors);
                    });
            },
            getSkills: function () {
                let app = this;
                axios.get("/api/skills")
                    .then((response) => {
                        if (!response.data) {
                            alert(response);
                        }
                        app.skills = response.data;
                    })
                    .catch((errors) => {
                        alert(errors);
                    });
            },
            getDepartments: function () {
                let app = this;
                axios.get("/api/departments")
                    .then((response) => {
                        if (!response.data) {
                            alert(response);
                        }
                        app.departments = response.data;
                    })
                    .catch((errors) => {
                        alert(errors);
                    });
            },
        }
    }
</script>

<style scoped>

</style>